<!-- Fichero usado para sacar logs, actualmente no necesario -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>

    <logger name="org.springframework.jdbc.core" level="DEBUG"/>
    <logger name="org.springframework.jdbc.datasource" level="DEBUG"/>
</configuration>
